{
    "extends": "eslint:recommended",
    "ecmaFeatures": {
        "modules": true
    },
    "parserOptions": {
        "sourceType": "module"
    },
    "env": {
        "node": true,
        "mocha": true,
        "es6": true
    }
}
